*{
    box-sizing: border-box;
    align-items: center;
    margin: 0 0;
}



body {
    background: #E0E0CE;
    font-family: 'MuseoModerno', cursive;

}

.heading {
    background: #1f0075;
    margin: auto;
    padding: 40px 0;
}

label {
    color:rgb(0, 0, 0);
    vertical-align: center;
}

button {
    border-radius: 4px;
}

.main{
    display: flex;
    flex-direction: column;
}

.answer {
    border: #AD343E solid 2px;
    background-color: white;
    width: 600px;
    margin-top: 20px;
    box-align: center;
}

h1 {
    font-size: 70px;
    text-align: center;
    color: white;
    margin: 0 auto;
    word-spacing: 32px;
}

div p {
    text-align: center;
    color:white;
    margin: 0 auto;
}

#showAnswer {
    text-align: center;
    color:rgb(0, 0, 0);
    margin: 20px auto;
    max-width: 200px;
    height: 10px;
}

.headerMorse {
    margin: auto 40px;
    font-size: 40px;
    letter-spacing: 0.1em;
    display:inline-block;
}
.container {
    text-align: center;
    margin: 20px auto;
    width: 100%;
    
}

input[type="text"] {
    width: 100%;
    padding: 13px 10px;
    margin: 20px 5px;
    border: 1px solid rgb(173, 52, 62);
    border-radius: 10px;
}


#startButton{
    border: none;
    background: #AD343E;
    opacity: 1;
    color:white;
    box-shadow: none;
    width: 30%;
    padding: 13px 13px 13px 20px;
    margin: 10px 10px;
    
}

#relisten{
    border: none;
    background: #AD343E;
    opacity: 1;
    color:white;
    box-shadow: none;
    width: 30%;
    padding: 13px 13px 13px 20px;
    margin: 10px 10px;
    
}

#relisten:disabled{
    opacity: 0.2;
}

.correct {
    background: green;
    color:white;

}

.incorrect {
    background: red;
    color:white;

}

#speed {
    direction: rtl;
}

#answer {
    font-family: 'Open Sans', sans-serif;
    color:#AD343E;
    text-transform: uppercase;
    font-size: 10em;
    margin-bottom: 0;
    
}

#morseAnswer {
    font-family: 'MuseoModerno', cursive;
    color:#AD343E;
    font-size: 3em;
    margin-top: 0;
    
}

#answerContainer {
    padding: 20px;
    height: 300px;
}



.input{
    margin: 10px;
}

select {
    height: 25px;
    color: #000000;
    background: #ffffff;
    vertical-align: middle;
    text-align: center;
    opacity: 1;
    border: black solid 1px;
}



  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 50%; /* Full-width */
    height: 25px; /* Specified height */
    background: #ffffff; /* Grey background */
    outline: black solid 1px; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    vertical-align: middle;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: rgb(173, 52, 62); /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: rgb(173, 52, 62); /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

  @media (min-width:641px) {
    .container {
        text-align: center;
        margin: 20px auto;
        width: 360px;
        
    }
}